<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fw/fieldsToMapBase}">
<head>
	<title th:text="情報一覧"></title>
	<meta charset="utf-8"/>
</head>
<body>
	<div layout:fragment="mainContent">

		<!-- Userの年齢を更新するフォーム -->
		<form th:action="@{/general/listUpdate}" th:object="${generalListDpo}" th:method="post">

			<div th:each="user, st : *{userList}">
				<span th:text="*{userList[__${st.index}__].id}"></span>
				<input type="text" th:field="*{userList[__${st.index}__].age}">
			</div>

			<input type="submit" class="btn btn-primary" value="Userの年齢を更新">
    	</form>

		<br>

		<!-- Userの経歴を更新するフォーム -->
		<form th:action="@{/general/listUpdate}" th:object="${generalListDpo}" th:method="post">

			<div th:each="user, st : *{userList}">
				<span th:text="*{userList[__${st.index}__].id}"></span>
				<span th:text="*{userList[__${st.index}__].careers[0].fromDate}"></span>
				<textarea rows="3" th:field="*{userList[__${st.index}__].careers[0].contents}"></textarea>
				<span th:text="*{userList[__${st.index}__].careers[1].fromDate}"></span>
				<textarea rows="3" th:field="*{userList[__${st.index}__].careers[1].contents}"></textarea>
			</div>
			<input type="submit" class="btn btn-primary" value="Userの経歴を更新">
		</form>

		<br>

		<!-- 本の値段を更新するフォーム -->
    	<form th:action="@{/general/listUpdate}" th:object="${generalListDpo}" th:method="post">

			<div th:each="book : *{bookMap}">
				<span th:text="${book.key}"></span>
				<input type="text" th:field="${generalListDpo.bookMap[__${book.getKey()}__].price}">
			</div>

			<!-- ボタン -->
			<input type="submit" class="btn btn-primary" value="本の値段を更新">
    	</form>

    	<br>

    	<!-- Repositoryが動作することの確認 -->
    	<div th:object="${generalListDpo}" th:with="rep=${repositoryService.getMusicRepository()}">
			<span th:text="*{userList[0].name} + 'が好きな曲は、'"></span>
			<span th:text="${rep.getMusic('__*{userList[0].favoriteSongId}__').title}"></span>
			<br>
			<span th:text="*{userList[1].name} + 'が好きな曲は、'"></span>
			<span th:text="${rep.getMusic('__*{userList[1].favoriteSongId}__').title}"></span>

			<!-- 参考：値オブジェクトである識別子をnewする方法の場合
			<span th:text="*{musicRepository.getMusic(new com.example.entity.music.MusicId('__*{userList[1].favoriteSongId.id}__')).title}"></span>
			 -->
		</div>

	</div>
</body>
</html>
